body{
	//overflow-y:scroll;
	background-position:center;
	background-size: cover;
	background-attachment:fixed;
}
body,html{
	height:100%;
}

@public-color:#25B859;
.public-text{
	color:@public-color !important;
}
.public-bg{
	background-color:lighten(@public-color,20%);
}
@private-color:#C9261F;
.private-text{
	color:@private-color !important;
}
.private-bg{
	background-color:lighten(@private-color,20%);
}