<Template name="backgroundConfig">
<div class="modal fade" id="backgroundConfigModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modify background</h4>
      </div>
      <div class="modal-body">
    	{{#if currentSchema}}
		{{> quickForm schema=currentSchema id="backgroundConfiguration" doc=currentDocument}}
		{{/if}}
      </div>
    </div>
  </div>
</div>

</Template>