.template.grid {
	#dashboard{
		list-style: none;
		background: white;
		position:relative;
		li{
			position:absolute;
			background:#f8f8f8;
  			border: 1px solid #e7e7e7;
  			.dragHandle{
  				position:absolute;
  				top:0;
  				left:0;
  				right:0;
  				bottom:0;
  				cursor:move;
  				z-index:9;
  			}
  			.configure-btn{
  				position:absolute;
  				z-index:10;
  			}
		}
	}
}