<Template name="welcome">
    <div class="welcome">
        <div class="jumbotron bg-primary">
            <div class="container">


                <h1 class="brand-font">Gridfully</h1>

                <p class="lead">
                    The first fully customizable personal start page.
                </p>

                <p>
                    Gridfully aims to provide everyone their own start page where they can easily access their news, interests and favorites how they want and where they like.
                </p>


            </div>
        </div>
        <div class="section content-a">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-xs-6">
                        <h2 class="page-header">Personalize your grid with boxes.</h2>

                        <p>
                            Gridfully gives you full control over your grid. You can customize your grid with a link box that will direct you to your favorite site, choose its icon, color and position. Repeat this step as much as you'd like.
                        </p>
                    </div>
                    <div class="col-md-5 col-md-offset-2 col-xs-6">
                        <img class="media-object" src="/images/welcome_1.png"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="section content-b">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-xs-6">
                        <img class="media-object" src="/images/welcome_1.png"/>
                    </div>
                    <div class="col-md-5 col-md-offset-2 col-xs-6">
                        <h2 class="page-header">More than simple links.</h2>

                        <p>
                            Boxes can be of many natures. You can use a box to take notes, another one to view your favorite news feed and even one could show you what time it is in another country.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section content-a">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-xs-6">
                        <h2 class="page-header">More than simple links.</h2>

                        <p>
                            Gridfully gives you full control over your grid. You can customize your grid with a link box that will direct you to your favorite site, choose its icon, color and position. Repeat this step as much as you'd like.
                        </p>
                    </div>
                    <div class="col-md-5 col-md-offset-2 col-xs-6">
                        <img class="media-object" src="/images/welcome_1.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

</Template>