div.widget.rss-reader{
	& > div{
		padding:5px;
	}
	//h2{
	//	font-size:16px;
	//	margin:0px;
	//	padding:0px;
	//	line-height:35px;
	//	margin-bottom:10px;
	//	background-color:rgba(255,255,255,0.2);
	//	text-align:center;
	//	white-space: nowrap;
	//	overflow: hidden;
	//	text-overflow: ellipsis;
	//}
	//li{
	//	h4{
	//		font-size:14px;
	//		line-height:20px;
	//		padding:0px;
	//		margin:0px;
	//		margin-bottom:5px;
	//		white-space: nowrap;
	//		overflow: hidden;
	//		text-overflow: ellipsis;
	//	}
	//	p{
	//		font-size:12px;
	//		line-height:20px;
	//		padding:0px;
	//		margin:0px;
	//		margin-bottom:10px;
	//	}
	//}
	h2{
		font-size:16px;
		margin:0px;
		padding:0px;
		line-height:24.68px;
		margin-bottom:0px;
		background-color:rgba(255,255,255,0.2);
		text-align:center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	li{
		height:36.66px;
		h4{
			font-size:14px;
			line-height:20px;
			padding:0px;
			margin:0px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			&.new{
				font-weight:bold;
			}
		}
		p{
			font-size:12px;
			line-height:10px;
			padding:0px;
			margin:0px;
			margin-bottom:5px;
		}
	}
}

